<%= form_with(model: present, local: true) do |form| %>
  <% if present.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(present.errors.count, "error") %> prohibited this present from being saved:</h2>

      <ul>
      <% present.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Artículo" %>
    <%= form.text_field :name ,class: "fieldText"%>
  </div>

  <div class="field">
    <%= form.label "Precio" %>
    <%= form.text_field :price ,class: "fieldText"%>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-light center"  %>
  </div>
<% end %>
