<div class="infoBox">
  <div class="infoBoxDiv">
    <h2 class="infoBoxTitle">Información</h2>

    <table class ="indexTable">
      <thead>
        <tr>
          <th class="indexContent">Info</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @information.each do |information| %>
          <tr>
            <td class="indexContent"><%= information.name %></td>
            <td class="indexContent"><%= information.city %></td>
            <td class="indexContent"><%= information.date %></td>
            <td class="indexContent"><%= information.hour %></td>
            <td class="indexContent"><%= information.place %></td>
            <td class="indexContent"><%= information.restaurant %></td>
            <td class="indexButton"><%= link_to 'Mostrar', information %></td>
            <td class="indexButton"><%= link_to 'Editar', edit_information_path(information) %></td>
            <td class="indexButton"><%= link_to 'Eliminar', information, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="connectLinks">
<%= link_to 'Nueva Información', new_information_path %>
</div>