<% if user_signed_in? %>
    <div class="navRightTitle">Editar:</div>
    <div>
        <%= image_tag("imagen.png", :class => "imageNav") %>
        <% if current_user.image %>
            <%= link_to "Imagen", image_path(current_user.image) %>
        <%else%>
            <%= link_to "Imagen", new_image_path %>
        <%end%>
        </div>
    <div>
        <%= image_tag("nosotros.png", :class => "imageNav") %>
        <% if current_user.information %>
            <%if current_user.information.id %>
            <%= link_to "Información", information_path(current_user.information) %>
            <%else%>
            <%= link_to "Información", new_information_path %>
            <%end%>
        <%else%>
            <%= link_to "Información", new_information_path %>
        <%end%>
    </div>
    <div>
        <% if current_user.details.length > 0 %>
            <%= image_tag("lista.png", :class => "imageNav") %>
            <%= link_to "Detalles", details_path %>
        <%end%>
    </div>
    <div>
        <%= image_tag("evento.png", :class => "imageNav") %>
        <%= link_to "Nuevo detalle", new_detail_path %>
    </div>
    <div>
        <% if current_user.presents.length > 0 %>
            <%= image_tag("listaregalos.png", :class => "imageNav") %>
            <%= link_to "Regalos", presents_path %>
        <%end%>
    </div>
    <div>
        <%= image_tag("regalo.png", :class => "imageNav") %>
        <%= link_to "Nuevo regalo", new_present_path %>
    </div>
<%end%>
<% if @seluser %>
    <div class="navRightTitle">Información:</div>
    <div>
        <%= image_tag("nosotros.png", :class => "imageNav") %>
        <%= link_to "Detalles", user_us_path(@seluser)  %>
    </div>
    
    <% if @prewedding.length >0 %>
        <div>
            <%= image_tag("preboda.png", :class => "imageNav") %>
            <%= link_to "Preboda", user_prewedding_path(@seluser)  %>
        </div>
    <%end%>
    <%if @buses.length >0 %>
        <div>
            <%= image_tag("bus.png", :class => "imageNav") %>
            <%= link_to "Autobuses", user_bus_path(@seluser)  %>
        </div>
    <%end%>
    <% if @hotel.length >0 %>
        <div>
            <%= image_tag("hotel.png", :class => "imageNav") %>
            <%= link_to "Hoteles", user_hotel_path(@seluser)  %>
        </div>
    <%end%>
    <% if @hair.length >0 %>
        <div>
            <%= image_tag("peluqueria.png", :class => "imageNav") %>
            <%= link_to "Peluquería", user_hair_path(@seluser)  %>
        </div>
    <%end%>
    <% if @makeup.length >0 %>
        <div>
            <%= image_tag("maquillaje.png", :class => "imageNav") %>
            <%= link_to "Maquillaje", user_makeup_path(@seluser)  %>
        </div>
    <%end%>
    <% if @presents.length >0 %>
        <div>
            <%= image_tag("regalo.png", :class => "imageNav") %>
            <%= link_to "Lista de boda", user_presents_path(@seluser)  %>
        </div>
    <%end%>
<%end%>
    
                      